<section class="page main">
    <div>
        <div class="page-title">
            Главная
        </div>
        <div class="date-list d-flex align-items-center ">
            <button type="button" class="btn nav-item-main" data-period="today" id="period-today">Сегодня</button>
            <button type="button" class="btn nav-item-main nav-main" data-period="week" id="period-week">Неделя</button>
            <button type="button" class="btn nav-item-main nav-main" data-period="month" id="period-month">Месяц
            </button>
            <button type="button" class="btn nav-item-main nav-main" data-period="year" id="period-year">Год</button>
            <button type="button" class="btn nav-item-main nav-main" data-period="all" id="period-all">Все</button>
            <button type="button" class="btn  nav-item-main nav-main" data-period="interval" id="period-interval">
                Интервал
            </button>

            <div class="nav-item-main d-flex align-items-center">
                <div class="interval d-flex r">
                    <div class="interval-from d-flex align-items-center">
                        <div
                                class="interval-to-span mx-4">с
                        </div>
                        <div>
                            <input type="date" class="data-choice" id="interval-from">
                            <span id="interval-from-error" class="error invalid-feedback">Дата начала</span>
                        </div>

                    </div>
                    <div class="interval-to d-flex align-items-center">
                        <span class="interval-to-span mx-4">по</span>
                        <div>
                            <input type="date" class="data-choice" id="interval-to">
                            <span id="interval-from-to-error" class="error invalid-feedback ">Дата окончания</span>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row charts">

        <div class="chart-col chart-income col-sm-6">
            <div class="chart-title">
                Доходы
            </div>

            <div class="chart-canvas">
                <canvas id="income-chart"></canvas>
            </div>

        </div>

        <div class="chart-col col-sm-6">
            <div class="chart-title">
                Расходы
            </div>
            <div  class="chart-canvas">
                <canvas id="expense-chart"></canvas>
            </div>

        </div>


    </div>
</section>
