
<main>
    <section class="page">
        <div>
            <div class="page-title">
                Расходы
            </div>
            <div class="card-list row">
<!--                <div class="col-sm-4 mb-3 mb-sm-0">-->
<!--                    <div class="card">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Еда</h5>-->
<!--                            <div class="d-flex gap-2 flex-sm-wrap">-->
<!--                                <a href="/expenses-category-edit" class="btn btn-primary">Редактировать</a>-->
<!--                                <a href="#" type="button" class="btn btn-danger" data-bs-toggle="modal"-->
<!--                                   data-bs-target="#exampleModal">Удалить</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-sm-4 mb-3 mb-sm-0">-->
<!--                    <div class="card">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Жильё</h5>-->
<!--                            <div class="d-flex gap-2 flex-sm-wrap">-->
<!--                                <a href="#" class="btn btn-primary">Редактировать</a>-->
<!--                                <a href="#" type="button" class="btn btn-danger" data-bs-toggle="modal"-->
<!--                                   data-bs-target="#exampleModal">Удалить</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-sm-4 mb-3 mb-sm-0">-->
<!--                    <div class="card">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Здоровье</h5>-->
<!--                            <div class="d-flex gap-2 flex-sm-wrap">-->
<!--                                <a href="#" class="btn btn-primary">Редактировать</a>-->
<!--                                <a href="#" type="button" class="btn btn-danger" data-bs-toggle="modal"-->
<!--                                   data-bs-target="#exampleModal">Удалить</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-sm-4 mb-3 mb-sm-0">-->
<!--                    <div class="card">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Кафе</h5>-->
<!--                            <div class="d-flex gap-2 flex-sm-wrap">-->
<!--                                <a href="#" class="btn btn-primary">Редактировать</a>-->
<!--                                <a href="#" type="button" class="btn btn-danger" data-bs-toggle="modal"-->
<!--                                   data-bs-target="#exampleModal">Удалить</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-sm-4 mb-3 mb-sm-0">-->
<!--                    <div class="card">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Авто</h5>-->
<!--                            <div class="d-flex gap-2 flex-sm-wrap">-->
<!--                                <a href="#" class="btn btn-primary">Редактировать</a>-->
<!--                                <a href="#" type="button" class="btn btn-danger" data-bs-toggle="modal"-->
<!--                                   data-bs-target="#exampleModal">Удалить</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-sm-4 mb-3 mb-sm-0">-->
<!--                    <div class="card">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Одежда</h5>-->
<!--                            <div class="d-flex gap-2 flex-sm-wrap">-->
<!--                                <a href="#" class="btn btn-primary">Редактировать</a>-->
<!--                                <a href="#" type="button" class="btn btn-danger" data-bs-toggle="modal"-->
<!--                                   data-bs-target="#exampleModal">Удалить</a>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-sm-4 mb-3 mb-sm-0">-->
<!--                    <div class="card">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title card-title-my">Развлечения</h5>-->
<!--                            <div class="d-flex gap-2 flex-sm-wrap">-->
<!--                                <a href="#" class="btn btn-primary">Редактировать</a>-->
<!--                                <a href="#" type="button" class="btn btn-danger" data-bs-toggle="modal"-->
<!--                                   data-bs-target="#exampleModal">Удалить</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-sm-4 mb-3 mb-sm-0">-->
<!--                    <div class="card">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Счета</h5>-->
<!--                            <div class="d-flex gap-2 flex-sm-wrap">-->
<!--                                <a href="#" class="btn btn-primary">Редактировать</a>-->
<!--                                <a href="#" type="button" class="btn btn-danger" data-bs-toggle="modal"-->
<!--                                   data-bs-target="#exampleModal">Удалить</a>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-sm-4 mb-3 mb-sm-0">-->
<!--                    <div class="card">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Спорт</h5>-->
<!--                            <div class="d-flex gap-2 flex-sm-wrap">-->
<!--                                <a href="#" class="btn btn-primary">Редактировать</a>-->
<!--                                <a href="#" type="button" class="btn btn-danger" data-bs-toggle="modal"-->
<!--                                   data-bs-target="#exampleModal">Удалить</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-sm-4 mb-3 mb-sm-0">-->
<!--                    <div class="card revenue-add" style="height: 121px">-->
<!--                        <a href="/expenses-category-create" class="text-decoration-none">+</a>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
        <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content p-3">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-nowrap" id="exampleModalLabel">Вы действительно хотите удалить категорию? </h1>
                    </div>
                    <div class="modal-body">
                        <button type="button" id="btn-delete" class="btn btn-success mx-2" data-bs-dismiss="modal" >Да, удалить</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
